%h2 Shares

.section
  %p
    The share value is
    = number_to_currency(co.share_value_in_pounds, :unit => "£")
  %p
    The minimum shareholding is
    = pluralize(co.minimum_shareholding, "share.", "shares.")
  - if co.interest_rate
    %p
      The rate of interest on share capital is
      = "#{co.interest_rate}%."

.section
  TODO: Action buttons here.

- if @share_payments_pending.present?
  .section
    %h3 Payments pending for issued shares

- if @share_withdrawals_outstanding.present?
  .section
    %h3 Outstanding share withdrawals

- if can?(:update, co)
  .section
    = link_button("Adjust share value", :url => edit_share_value_shares_path)
    = link_button("Adjust minimum shareholding", :url => edit_minimum_shareholding_shares_path)
    = link_button("Adjust interest rate", :url => edit_interest_rate_shares_path)
    %br.clear

.section
  %h3 Share ownership
