- content_for(:head) do
  = javascript_include_tag :resolutions, :change_quorum_resolutions, :change_meeting_notice_period_resolutions

%h2 Create a new resolution

= form_for(@resolution) do |form|
  = label_tag('resolution_type', "Type of proposal")
  %ul.resolution_types
    %li= link_to("Change the notice period for General Meetings", new_change_meeting_notice_period_resolution_path)
    %li= link_to("Change the quorum for General Meetings", new_change_quorum_resolution_path)
    %li= link_to("Change the Name of the organisation", new_change_name_resolution_path)
    %li= link_to("Change the Registered Office of the organisation", new_change_registered_office_address_resolution_path)
    %li= link_to("Change the Objects of the organisation", new_change_objectives_resolution_path)
    %li= link_to("Change the Rules about membership criteria", new_change_membership_criteria_resolution_path)
    %li= link_to("Change the Rules about the composition of the Board", new_change_board_composition_resolution_path)
    %li= link_to("Change the Rules about share capital", new_change_single_shareholding_resolution_path)
    %li= link_to("Change the Rules about dissolution", new_change_common_ownership_resolution_path)
    %li= link_to("Terminate a director's appointment", new_terminate_directorship_resolution_path)
    %li= link_to("Other proposal", new_generic_resolution_path)
  %p
    = form.submit("Save this proposal as a draft", :name => 'submit_draft')
    = form.submit("Open this proposal for electronic voting", :name => 'submit_open')
