%h2
  Editing Registration Details for
  = @organisation.name

= form_for(@registration_form, :as => :registration_form, :url => admin_registration_form_path(@registration_form), :method => :put) do |form|

  = render(:partial => 'registration_forms/form', :locals => {:form => form})

  %h3 Admin-only fields

  %p
    = form.label :reg_form_business_carried_out, "What business, industry or trade does the society intend to carry out?"
    = form.text_area :reg_form_business_carried_out

  %p
    = form.label :reg_form_funding, "How will the society fund its activities?"
    = form.text_area :reg_form_funding

  %p
    = form.label :reg_form_members_benefit, "How will members benefit from the business industry or trade of the society?"
    = form.text_area :reg_form_members_benefit
  %p
    = form.label :reg_form_members_participate, "In what way will members participate in an ongoing basis in the society's primary business?"
    = form.text_area :reg_form_members_participate
  %p
    = form.label :reg_form_members_control, "How will members democratically control the society?"
    = form.text_area :reg_form_members_control
  %p
    = form.label :reg_form_profit_use, "How will the society use any surplus/profit?"
    = form.text_area :reg_form_profit_use

  %p
    = form.submit "Save changes"
