%h2 Appointment of a new officer

.section
  = form_for(@officership) do |officership_form|
    %p
      = officership_form.label(:officer_id, "Who are you appointing to this office?")
    %p
      = officership_form.select(:officer_id, options_from_collection_for_select(co.directors, :id, :name))
    %p
      = officership_form.label(:office_id, "Choose an office to appoint them to:")
    %p
      = officership_form.select(:office_id, options_from_collection_for_select(co.offices, :id, :title))
    - if co.active?
      %p
        = officership_form.check_box(:certification)
        = officership_form.label(:certification, "I certify that the above named person was elected to this office", :class => 'inline')
        on
        = officership_form.date_select(:elected_on, {}, :class => 'inline')
    - else
      = officership_form.hidden_field(:elected_on)
    %p
      = officership_form.submit("Record this appointment")