= form_for([@election, @ballot]) do |ballot_form|
  %ul
    - @nominations.each do |nomination|
      = content_tag_for(:li, nomination) do
        = nomination.name
        = ballot_form.text_field("ranking_#{nomination.id}")
  %p
    = ballot_form.submit("Save my vote")
