%h2 Directors

%input{:type => 'button', :value => 'Add a new director', :class => 'button-form-show'}

= form_for(@director) do |director_form|
  %p
    = director_form.label :email
    = director_form.text_field :email
  %p
    = director_form.label :first_name
    = director_form.text_field :first_name
  %p
    = director_form.label :last_name
    = director_form.text_field :last_name
  %p
    = director_form.label :elected_on, "Date of election"
    = director_form.date_select :elected_on
  %p
    = director_form.check_box :certification
    = director_form.label :certification, "I certify this individual was duly elected as a Director at a General Meeting held on this date"
  %p
    = director_form.submit "Add this director"

%table.members
  %tr
    %th Name
    %th Last login
  - for member in @members
    %tr
      %td
        = image_tag("#{member.gravatar_url(24)}", :class => 'gravatar', :alt => "#{member.name}", :width => '24', :height => '24')
        = member.name
      %td
        - if member.last_logged_in_at
          = member.last_logged_in_at.to_s(:short)

