%p
  = task.subject.to_account.owner.name
  applied for
  = pluralize(task.subject.amount, "share", "shares")
  = task.subject.created_at.to_s(:at_on) + '.'
  A payment of
  = "£#{task.subject.amount}"
  is due.
%p
  = form_for(task.subject, :url => approve_share_transaction_path(task.subject)) do |share_transaction_form|
    = share_transaction_form.submit("Mark as paid, and allot shares")
