- if current_user
  - if current_organisation.pending? or current_organisation.proposed?
    %ul#nav
      %li.navitem= link_to 'Constitution', constitution_path
      %li.navitem= link_to 'Amendments', edit_constitution_path
      %li.navitem= link_to 'Members', members_path
      %li.navitem= link_to 'Warnings for Founding Members', warnings_associations_path
  - else
    %ul#nav
      %li.navitem= link_to 'Voting & proposals', root_path
      %li.navitem= link_to 'Constitution', constitution_path
      %li.navitem= link_to 'Members', members_path
