#member_info

  = image_tag(@member.gravatar_url(64), :alt => @member.name, :width => '64', :height => '64')

  %h2
    = @member.name

  %p
    = mail_to(@member.email)

  %dl
    %dt Postal address
    %dd= simple_format(@member.address)
    %dt Phone
    %dd= @member.phone
    - if @member.inducted_at
      %dt Joined
      %dd= @member.inducted_at.to_date.to_s(:long_ordinal)
    %dt Shares
    %dd= @member.shares_count

- if can?(:edit, @member) && @member != current_user
  - if @member.pending?
    = form_for(@member, :url => induct_member_path(@member), :html => {:method => :put}) do |member_form|
      %p= member_form.submit "Accept application"
  - if @member.active?
    = link_to("Terminate membership", confirm_eject_member_path(@member))
