- content_for(:head) do
  = javascript_include_tag 'coops_new'

%h2 Form a new Co-op

= error_messages_for(@member)
= error_messages_for(@coop)

= form_tag(coops_path) do
  .left
    %h3 Your details
    = fields_for(@member) do |member_fields|
      %p
        = member_fields.label :first_name
        = member_fields.text_field :first_name
      %p
        = member_fields.label :last_name
        = member_fields.text_field :last_name
      %p
        = member_fields.label :email, "Email address"
        = member_fields.email_field :email
      %p
        = member_fields.label :password, "Choose password"
        = member_fields.password_field :password
      %p
        = member_fields.label :password_confirmation, "Confirm password"
        = member_fields.password_field :password_confirmation
  .right
    %h3 The Co-op
    = fields_for(@coop) do |coop_fields|
      %p
        = coop_fields.label :name, "Co-op's official name"
        = coop_fields.text_field :name
      %p
        = coop_fields.label :subdomain, "Your One Click Orgs web address will be"
      #subdomain_wrapper
        = coop_fields.text_field :subdomain, :maxlength => 63
        %span#base_domain
          = '.' + Setting[:base_domain]
      %p
        = coop_fields.label :objectives, "What the Co-op exists for"
        = coop_fields.text_area :objectives
    = fields_for(@member) do |member_fields|
      %p
        = member_fields.check_box :terms_and_conditions, :class => 'inline', :style => 'width: auto; margin-left: 20px;'
        = member_fields.label :terms_and_conditions, :class => 'inline' do
          I accept the
          = link_to("Terms of Use", terms_coops_path, :target => '_blank') + '.'
    %p
      = submit_tag "Create draft co-op", :id => 'submit'
