- content_for(:head) do
  = javascript_include_tag 'organisations_new'

%h2 Create an Association

%p
  Provide details for yourself and your group then One Click Orgs will automatically create a draft constitution. You can tailor this with other members of your group then hold a vote to found the Association. For more information see
  = link_to('the FAQ.', 'http://www.oneclickorgs.com/faq', :target => '_blank')

= form_tag({:controller => 'organisations', :action => 'create'}, :method => "post", :id => 'new_organisation') do

  %div.left
    %h3 Your details
    = fields_for(:founder, @founder) do |f|
      %p
        = f.label :first_name, "First name"
        = f.text_field :first_name, :placeholder => 'Robert'
      %p
        = f.label :last_name, "Last name"
        = f.text_field :last_name, :placeholder => 'Smith'
      %p
        = f.label :email, "Email address"
        = f.text_field :email, :type => 'email', :placeholder => 'robert@example.com'
      %p
        = f.label :password, "Choose password"
        = f.password_field :password
      %p
        = f.label :password_confirmation, "Confirm password"
        = f.password_field :password_confirmation
      = f.hidden_field :terms_and_conditions

  %div.right
    %h3 Your group’s details
    = fields_for(:organisation, @organisation) do |f|
      %p
        = f.label :name, "Name for the Association"
        = f.text_field :name
      - if !Setting[:single_organisation_mode]
        %p
          = f.label :subdomain, "Your One Click Orgs web address will be"
        %p#help_subdomain.explanation (You can change this before you go to the next stage)
        %div#subdomain_wrapper
          = f.text_field(:subdomain, :placeholder => 'mygroup')
          %span#base_domain
            = '.' + Setting[:base_domain]
      %p
        = f.label :objectives, "Group objectives"
        %textarea{:name => 'organisation[objectives]', :id => 'objectives', :placeholder => 'What will you be doing?'}
  
      %p
        = submit_tag "Create draft constitution →", :id => 'submit'
  
- content_for(:lightbox) do
  = render(:partial => 'shared/convener_disclaimer')
