%h2 Set up a new Association

%p
  Just enter your details with the name and objectives of your group, then One Click Orgs will automatically generate a draft constitution ready to form an Association.

= form_tag({:controller => 'organisations', :action => 'create'}, :method => "post") do

  %div.left
    %h3 Founder
    = fields_for(:founder, @founder) do |f|
      %p
        = f.label :first_name, "Your first name"
        = f.text_field :first_name, :placeholder => 'Robert'
      %p
        = f.label :last_name, "Your last name"
        = f.text_field :last_name, :placeholder => 'Smith'
      %p
        = f.label :email, "Your email address"
        = f.text_field :email, :type => 'email', :placeholder => 'robert@example.com'
      %p
        = f.label :password, "Choose a password"
        = f.password_field :password
      %p
        = f.label :password_confirmation, "Confirm your password"
        = f.password_field :password_confirmation

  %div.right
    %h3 Association
    = fields_for(:organisation, @organisation) do |f|
      %p
        = f.label :name, "Your group’s name"
        = f.text_field :name
      - if !Setting[:single_organisation_mode]
        %p
          = f.label :subdomain, "Your One Click Orgs web address will be"
        %p#help_subdomain.explanation (You can change this before you go to the next stage)
        %div#subdomain_wrapper
          = f.text_field(:subdomain, :placeholder => 'mygroup')
          %span#base_domain
            = '.' + Setting[:base_domain]
      %p
        = f.label :objectives, "Your group’s objectives"
        = text_area_tag :objectives
  
      = submit_tag "Create draft constitution →", :id => 'submit'
      