- if current_user
  - if co.pending? || co.proposed?
    %ul#nav
      %li.navitem= link_to 'Checklist', checklist_path
      %li.navitem= link_to 'Members', members_path
      %li.navitem= link_to 'Directors', directors_path
      %li.navitem= link_to 'Rules', constitution_path
      %li.navitem= link_to 'Registration form', edit_registration_form_path
  -else
    %ul#nav
      %li.navitem= link_to 'Dashboard', root_path
      %li.navitem= link_to 'Resolutions', proposals_path
      %li.navitem= link_to 'Meetings', meetings_path
      %li.navitem= link_to 'Members', members_path
      %li.navitem= link_to 'Directors', directors_path
      %li.navitem= link_to 'Rules', constitution_path
      %li.navitem= link_to 'Shares', shares_path
