%h2 Resolutions

.section
  - if can?(:create, Resolution)
    = link_button("Create a new Resolution", :url => new_resolution_path)
  -elsif can?(:create, ResolutionProposal)
    = link_button("Suggest a new Resolution", :url => new_resolution_proposal_path)
  - if can?(:create, BoardResolution)
    = link_button("Create a new Resolution of the Board", :url => new_board_resolution_path)
  %br.clear

%p The following resolutions are currently open:
.section
  %table.proposals
    - @proposals.each do |proposal|
      %tr
        = content_tag_for(:td, proposal) do
          = proposal.description
          = render 'proposals/vote', :proposal => proposal

%h3 Draft resolutions:
.section
  %table.draft_proposals
    - @draft_proposals.each do |proposal|
      %tr
        = content_tag_for(:td, proposal) do
          = proposal.description

%h3 Suggested resolutions:
.section
  %table.resolution_proposals
    - @resolution_proposals.each do |proposal|
      %tr
        = content_tag_for(:td, proposal) do
          = proposal.description