%h2 Resolutions

- if can?(:create, Resolution) || can?(:create, ResolutionProposal) || can?(:create, BoardResolution)
  .section
    - if can?(:create, Resolution)
      = link_button("Create a new Resolution", :url => new_resolution_path)
    -elsif can?(:create, ResolutionProposal)
      = link_button("Suggest a new Resolution", :url => new_resolution_proposal_path)
    - if can?(:create, BoardResolution)
      = link_button("Create a new Resolution of the Board", :url => new_board_resolution_path)
    %br.clear

- if @proposals.present?
  .section
    %p The following resolutions are currently open:
    %table.proposals
      - @proposals.each do |proposal|
        %tr
          = content_tag_for(:td, proposal) do
            .proposal
              %h4= proposal.title
              %p= proposal.description
              - if can?(:vote_on, proposal)
                %p.votes= render 'proposals/vote', :proposal => proposal

- if @draft_proposals.present?
  .section
    %h3 Draft resolutions:
    %ul.draft_proposals
      - @draft_proposals.each do |proposal|
        = content_tag_for(:li, proposal) do
          %p
            = proposal.description.present? ? proposal.description : proposal.title
            = link_to("View details and comment", resolution_path(proposal))
          - if can?(:create, Resolution)
            = button_to("Start an electronic vote", open_proposal_path(proposal), :method => :put)
          - if can?(:create, Meeting)
            = link_button("Add to a meeting", :url => new_general_meeting_path(:resolution_id => proposal))
    %br.clear

- if @resolution_proposals.present?
  .section
    %h3 Suggested resolutions:
    %ul.resolution_proposals
      - @resolution_proposals.each do |proposal|
        = content_tag_for(:li, proposal) do
          %p
            = proposal.description.present? ? proposal.description : proposal.title
            = link_to("View details and comment", resolution_proposal_path(proposal))
          - if can?(:edit, ResolutionProposal)
            = link_button("Edit", :url => edit_resolution_proposal_path(proposal))
          - if can?(:create, Resolution)
            = button_to("Start an electronic vote", pass_resolution_proposal_path(proposal), :method => :put)
          - if can?(:create, Meeting)
            = button_to("Add to a meeting", pass_to_meeting_resolution_proposal_path(proposal), :method => :put)
    %br.clear
