- if can?(:create, FoundingMember)
  %h3
    Invite another Founding Member
  %p
    = form_for(@new_member, :as => :member, :url => { :controller => :members, :action => :create_founding_member }) do |f|
      %p
        = f.label(:email, "Email Address")
        = f.email_field :email
      %p
        = f.label(:first_name)
        = f.text_field :first_name
      %p
        = f.label(:last_name)
        = f.text_field :last_name
      -# Cf. issue #146: don't display member class form
        = f.hidden_field :member_class_id
      -# - if co.member_classes.count == 1
      -#   = f.hidden_field :member_class_id
      -# - else
      -#   %p
      -#     = f.label(:class)
      -#     = f.collection_select(:member_class_id, co.member_classes.all, :id, :name)
      %p
        = submit_tag "Send invitation", :id => 'submit'
- elsif can?(:create, AddMemberProposal)
  %h3
    Propose a new member
  %p
    = form_for(@new_member, :as => :member, :url => members_path) do |f|
      %p
        = f.label(:email, "Email address")
        = f.email_field :email
      %p
        = f.label(:first_name)
        = f.text_field :first_name
      %p
        = f.label(:last_name)
        = f.text_field :last_name
      - if co.member_classes.count == 1
        = f.hidden_field :member_class_id
      - else
        %p
          = f.label(:class)
          = f.collection_select(:member_class_id, co.member_classes.all, :id, :name)
      %p
        = submit_tag "Invite member", :id => 'submit'
