%h2 Suggest a new resolution

.guidance
  %h3 Help
  %p Your suggestion will be forwarded to the Secretary for consideration.
  %p Alternatively, if sufficient members indicate their desire for this resolution to be voted on, an electronic vote will begin automatically.

= form_for(@resolution_proposal) do |resolution_proposal_form|
  %p
    = resolution_proposal_form.label :title
    %br
    = resolution_proposal_form.text_field :title
  %p
    = resolution_proposal_form.label :description
    %br
    = resolution_proposal_form.text_area :description
  %p
    = resolution_proposal_form.submit "Submit suggestion"
