%h2 Registration Form

%p The following additional information is required for the FCA Mutual Societies Application Form.

= form_for(@registration_form, :as => :registration_form, :url => registration_form_path, :method => :put) do |form|
  %p
    = form.label :reg_form_timing_factors, "Does the society have any timing factors that it would like us to consider?"
    If the society wishes to be registered by a specific date, we will try to meet it. Please bear in mind we would like to be given 15 workings days to examine each application.
    = form.text_area :reg_form_timing_factors
  %p
    = form.label :reg_form_financial_year_end, "Date of society's financial year end (dd/mm/yyyy)"
    If the society proposes to use a date other than the last day of the month in which the anniversary of its registration falls as its financial year end please indicate this date below, otherwise leave blank.
    = form.text_field :reg_form_financial_year_end
  %p
    = label_tag "Is membership of the new society required to obtain the benefits / facilities offered by it?"
    = form.radio_button :reg_form_membership_required, true, :class => 'inline'
    = form.label :reg_form_membership_required, "Yes", :value => true, :class => 'inline'
    %br
    = form.radio_button :reg_form_membership_required, false, :class => 'inline'
    = form.label :reg_form_membership_required, "No", :value => false, :class => 'inline'
  %p
    = label_tag "Details of any close links which the society or any member of its committee has, or intends to have, with any society, company or authority"
    The following are regarded as evidence of a close link with another society, company or other entity:
  %ul
    %li any material contract or arrangement which it is anticipated that the society will enter into in order to undertake its business; and
    %li any other directorships or senior positions held by members of the committee.
  %p
    = form.text_area :reg_form_close_links
  %p
    = form.submit "Save changes"