%h2 Settings

%p Changing the settings on this page will create proposals that can be voted on by the community.

%h3 Organisation name

= render :partial => 'shared/propose_change_org_name_form'

%h3 Objectives

= render :partial => 'shared/propose_change_objectives_form'

%h3 Assets

= render :partial => 'shared/propose_hold_assets_form'

%h3 Making decisions

= render :partial => 'shared/propose_voting_system_amendment_form', :locals => {:type => 'general', :description => 'Change the way decisions are made:'}

%p
  A decision is made if a proposal receives
  = @general_voting_system.long_description

%h3 Changing the constitution

= render :partial => 'shared/propose_voting_system_amendment_form', :locals => {:type => 'constitution', :description => 'Change the way the constitution is changed:'}

%p
  The constitution may only be amended by a decision where
  = @constitution_voting_system.long_description(:include_received => true)

%h3 Admitting and rejecting members

= render :partial => 'shared/propose_voting_system_amendment_form', :locals => {:type => 'membership', :description => 'Change the way membership decisions are made:'}

%p
  New members may be appointed and exiting members ejected only by a decision where
  = @membership_voting_system.long_description(:include_received => true)

%h3 Voting period

= render :partial => 'shared/propose_change_voting_period_form'

%p
  = @voting_period