%h2 Registration documents

%ul
  %li
    %p= link_to("Rules of #{co.name}", constitution_path(:format => :pdf))
  %li
    %p= link_to("FCA Application Form", registration_form_path(:format => :pdf))
  %li
    %p= link_to("Co-operatives UK Letter of Engagement", document_path('letter_of_engagement'))
  %li
    %p= link_to("Co-operatives UK Anti-Money Laundering Form", document_path('money_laundering'))
