- content_for(:head) do
  = javascript_tag("OneClickOrgs.members = #{@members_for_autocomplete.to_json}")
  = javascript_include_tag :general_meetings

%h2 Enter minutes

%p
  A
  %strong= @general_meeting.class.name.underscore.humanize.titlecase
  on
  = (@general_meeting.happened_on ? @general_meeting.happened_on.strftime('%d %B %Y') : '') + ','
  starting at
  = (@general_meeting.start_time || '') + ','
  at
  = (@general_meeting.venue || '') + '.'

= form_for(@general_meeting) do |general_meeting_form|
  .section.participants
    %h3 Members in attendance
    %ul.participants.autocomplete
      - @members.each do |member|
        = content_tag_for(:li, member) do
          %p.checkbox
            = check_box_tag "#{general_meeting_form.object_name}[participant_ids][#{member.id}]", '1', @general_meeting.participant_ids.include?(member.id)
            = label_tag "#{general_meeting_form.object_name}_participant_ids_#{member.id}", member.name

  - unless @general_meeting.resolutions.empty?
    %h3 Resolutions
    %ul.resolutions
    = general_meeting_form.fields_for :passed_resolutions, @general_meeting.resolutions do |resolution_fields|
      = content_tag_for(:li, resolution_fields.object) do
        %p= resolution_fields.object.title
        %p
          = resolution_fields.check_box :passed
          = resolution_fields.label :passed, "Resolution was passed"
  %h3 Minutes
  = general_meeting_form.fields_for(:agenda_items) do |agenda_item_fields|
    %p
      = agenda_item_fields.label :minutes, agenda_item_fields.object.title
      = agenda_item_fields.text_area :minutes
  %p
    = general_meeting_form.label :minutes, "Other minutes"
    = general_meeting_form.text_area :minutes

  %p= general_meeting_form.submit "Save these minutes"