%h2 General Meeting

- if @general_meeting.past?
  %h3 Minutes
  = simple_format(html_escape(@general_meeting.minutes))
  %h3 Attendees
  %ul.participants
    - @general_meeting.participants.each do |participant|
      = content_tag_for(:li, participant) do
        = link_to(participant.name, member_path(participant))
-else
  %p
    %strong Date:
    = @general_meeting.happened_on.to_s(:long_ordinal)
  %p
    %strong Starting at:
    = @general_meeting.start_time
  %p
    %strong Venue:
    = @general_meeting.venue
  %h3 Agenda
  = simple_format(html_escape(@general_meeting.agenda))
