- content_for(:head) do
  = javascript_tag("OneClickOrgs.members = #{@members_for_autocomplete.to_json}")
  = javascript_include_tag :general_meetings

%h2 Enter minutes

= form_for(@minute) do |minute_form|

  .section.participants
    %h3 Members in attendance
    %ul.participants.autocomplete
      - @members.each do |member|
        = content_tag_for(:li, member) do
          %p.checkbox
            = check_box_tag "minute[participant_ids][#{member.id}]", '1', @minute.participant_ids.include?(member.id)
            = label_tag "minute_participant_ids_#{member.id}", member.name

  %p
    = minute_form.label :meeting_class, "Minutes for the", :class => 'inline'
    = minute_form.select :meeting_class, @meeting_class_options_for_select, :class => 'inline'
  %p
    = minute_form.label :happened_on, "held on", :class => 'inline'
    = minute_form.date_select :happened_on, :class => 'inline'
  %p
    = minute_form.label :minutes
    = minute_form.text_area :minutes
  %p
    = minute_form.submit "Save these minutes"
