%h2 Proceedings of the Board
.section
  = link_button("Convene a meeting of the Board", :url => new_board_meeting_path)
  .clear

- if @upcoming_meetings.present?
  .section
    %h3 Upcoming Board meetings
    %table.upcoming_meetings
      - @upcoming_meetings.each do |meeting|
        %tr
          = content_tag_for(:td, meeting) do
            %p
              A
              %strong Board Meeting
              on
              = meeting.happened_on.strftime('%d %B %Y') + ','
              starting at
              = (meeting.start_time || '') + ','
              at
              = (meeting.venue || '') + '.'
            %p
              = link_to("View agenda and details", board_meeting_path(meeting))
