%h2 Dashboard

- @elections = co.elections.where(:state => :open)
- if @elections.present?
  .section
    - @elections.each do |election|
      %p An online election for new Directors is currently open.
      - if election.ballots.where(:member_id => current_user.id).present?
        %p You have already cast your vote in this election.
      - else
        %p= link_to("View the election and cast your vote.", new_election_ballot_path(:election_id => election))

- if @tasks.present?
  .section
    %h3 To do
    %ul.tasks
      - @tasks.each do |task|
        = content_tag_for(:li, task) do
          = render :partial => 'tasks/task', :locals => {:task => task}
    %br.clear

.left.dashboard
  .section.meetings
    %h3 Meetings

    - if @upcoming_meeting.present?
      %h4 Next meeting:
      = content_tag_for(:div, @upcoming_meeting) do
        %p.datetime
          = @upcoming_meeting.happened_on.to_s(:short)
          %br
          = @upcoming_meeting.start_time
        %p.details
          = @upcoming_meeting.class.name.underscore.humanize.titlecase
          %br
          = @upcoming_meeting.venue
          %br
          = link_to("See agenda & details", meeting_path(@upcoming_meeting))
      - if @upcoming_meetings_count
        %p.auxiliary
          = link_to("#{@upcoming_meetings_count} more upcoming", meetings_path)
    -else
      %p No upcoming meetings.

    - if @last_meeting.present?
      %h4 Last meeting:
      = content_tag_for(:div, @last_meeting) do
        %p.datetime
          = @last_meeting.happened_on.to_s(:short)
          %br
          = @last_meeting.start_time
        %p.details
          = @last_meeting.class.name.underscore.humanize.titlecase
          %br
          = link_to("See minutes", meeting_path(@last_meeting))
    - if can?(:create, GeneralMeeting)
      %p.left= link_to("Create new", new_general_meeting_path)
    %p.right= link_to("See all meetings", meetings_path)
    %br.clear

  .section
    %h3 Members and shares
    %br.clear

.right.dashboard
  .section.proposals
    %h3 Proposals
    - if @open_proposals_without_vote.present?
      %ul.proposals
        - @open_proposals_without_vote.each do |proposal|
          = content_tag_for(:li, proposal) do
            %h4 New proposal
            %p.title.left= proposal.title
            %p.action.right= link_to("Vote", proposal_path(proposal))
            %br.clear
    - else
      %p No proposals currently open for voting.
    - if can?(:create, Resolution)
      %p.left= link_to("Create new", new_resolution_path)
    - elsif can?(:create, ResolutionProposal)
      %p.left= link_to("Suggest new", new_resolution_proposal_path)
    %p.right= link_to("See all proposals", proposals_path)
    %br.clear
