%h2 Meetings

.section
  = link_button("Convene a General Meeting", :url => new_general_meeting_path)
  = link_button("Convene a meeting of the Board", :url => new_board_meeting_path)
  .clear

- if @upcoming_meetings.present?
  .section
    %h3 Upcoming meetings
    %table.upcoming_meetings
      - @upcoming_meetings.each do |meeting|
        %tr
          = content_tag_for(:td, meeting) do
            %p
              A
              %strong= meeting.class.name.underscore.humanize.titlecase
              on
              = meeting.happened_on.strftime('%d %B %Y') + ','
              starting at
              = (meeting.start_time || '') + ','
              at
              = (meeting.venue || '') + '.'
            %p
              = link_to("View agenda and details", general_meeting_path(meeting))

.section
  %h3 Past meetings
  - if @past_meetings.present?
    %table.past_meetings
      - @past_meetings.each do |meeting|
        %tr
          = content_tag_for(:td, meeting) do
            %p
              A
              %strong= meeting.class.name.underscore.humanize.titlecase
              on
              = meeting.happened_on.strftime('%d %B %Y') + ','
              at
              = (meeting.venue || '') + '.'
            - if meeting.minutes.blank?
              %p Minutes have not been entered for this meeting yet.
              %p= link_to("Enter minutes for this meeting.", edit_general_meeting_path(meeting))
            - else
              %p= link_to("View minutes", general_meeting_path(meeting))
  - else
    %p No past meetings have been recorded yet.
  %p
    = link_to("Enter minutes for a meeting not shown here", new_minute_path)


.section
  %h3 Meetings settings
  %p
    The notice period for General Meetings is
    = co.constitution.meeting_notice_period
    clear days.
  - if can?(:create, Resolution)
    = link_button("Change the notice period", :url => new_change_meeting_notice_period_resolution_path)
  %br.clear
  %p
    The quorum for General Meetings is the greater of
    = co.constitution.quorum_number
    members and
    = co.constitution.quorum_percentage.to_s + '%'
    of the membership.
  - if can?(:create, Resolution)
    = link_button("Change the quorum", :url => new_change_quorum_resolution_path)
  %br.clear
