%div#member_info

  = image_tag(@member.gravatar_url(64), :alt => @member.name, :width => '64', :height => '64')

  %h2
    = @member.name

  %p
    = mail_to(@member.email)
    
  %p
    = @member.role

  %p
    Proposals made:
    = @member.proposals_count
    (Succeeded:
    = @member.succeeded_proposals_count
    Failed:
    = succeed ')' do
      = @member.failed_proposals_count

  %p
    Proposals voted on:
    = @member.votes_count

.section
  %h3
    Timeline for
    = @member.name
  %table.timeline
    %tr
      %th Event
      %th Date
    - for event in @member_presenter.timeline
      %tr{:class => cycle('odd', 'even')}
        = render :partial => "one_click/#{event[:kind]}", :locals => {:event => event}
        %td.timestamp= event[:timestamp].to_s(:long)


- if !(current_user == @member) and !current_organisation.proposed?
  .section
    %h3
      Propose the ejection of this member
    = form_for(@eject_member_proposal) do |form|
      = render :partial => 'eject_member_proposals/form', :locals => {:form => form}
