= form_for(@directorship) do |directorship_form|
  %p
    = directorship_form.check_box(:certification)
    = directorship_form.label(:certification, "I certify that this director retired")
    on
    = directorship_form.date_select(:ended_on)
  %p
    = directorship_form.submit("Record this retirement")