%h2 Directors

- if @tasks.present?
  %h3 Notifications
  .section
    %ul.tasks
      - @tasks.each do |task|
        = content_tag_for(:li, task) do
          = render :partial => 'tasks/task', :locals => {:task => task}

%p#download
  Download:
  %span.pdf.download
    = link_to 'PDF', directors_path(:format => 'pdf')

.section
  %table.directors
    %tr
      %th Name
      %th Last login
      %th Appointed
      %th
    - @directors.each do |director|
      = content_tag_for(:tr, director) do
        %td
          = image_tag("#{director.gravatar_url(24)}", :class => 'gravatar', :alt => "#{director.name}", :width => '24', :height => '24')
          = link_to "#{director.name}", member_path(director)
        %td
          - if director.last_logged_in_at
            = director.last_logged_in_at.to_s(:short)
        %td
          = director.directorship.elected_on.to_s(:long_ordinal)
        %td
          - if can?(:edit, director.directorship)
            = link_button("Retire", :url => edit_directorship_path(director.directorship))
  - if can?(:create, Directorship)
    = link_button("Appoint new Director", :url => new_directorship_path)
  %br.clear

.section
  %h3 Offices
  %table.offices
    %tr
      %th Office
      %th Occupied by
      %th Appointed
      %th
    - @offices.each do |office|
      %tr{:class => office.title.parameterize.underscore}
        %td= office.title
        %td
          - if office.officer
            = link_to(office.officer.name, member_path(office.officer))
          -else
            Office unoccupied
        %td
          - if office.officership
            = office.officership.elected_on.to_s(:long_ordinal)
        %td
          - if office.officer
            - if can?(:edit, office.officership)
              = link_button("Step down", :url => edit_officership_path(office.officership))
  - if can?(:create, Officership)
    = link_button("Appoint a new Officer", :url => new_officership_path)
  %br.clear

