%h2 Directors

.section
  %table.directors
    %tr
      %th Name
      %th Last login
    - @directors.each do |director|
      %tr
        %td
          = image_tag("#{director.gravatar_url(24)}", :class => 'gravatar', :alt => "#{director.name}", :width => '24', :height => '24')
          = link_to "#{director.name}", member_path(director)
        %td
          - if director.last_logged_in_at
            = director.last_logged_in_at.to_s(:short)


.section
  TODO: Action buttons here.

%h3 Offices
.section
  TODO: List of offices/officers here.

.section
  TODO: Action buttons here.

