%h2 Directors

.section
  %table.directors
    %tr
      %th Name
      %th Last login
    - @directors.each do |director|
      %tr
        %td
          = image_tag("#{director.gravatar_url(24)}", :class => 'gravatar', :alt => "#{director.name}", :width => '24', :height => '24')
          = link_to "#{director.name}", member_path(director)
        %td
          - if director.last_logged_in_at
            = director.last_logged_in_at.to_s(:short)


.section
  = link_button("Appoint new Director", :url => new_directorship_path)
  .clear

%h3 Offices
.section
  %table.offices
    - @offices.each do |office|
      %tr{:class => office.title.parameterize.underscore}
        %td
          %h4= office.title
          - if office.officer
            %p= office.officer.name
          -else
            %p Office unoccupied

.section
  = link_button("Appoint a new Officer", :url => new_officership_path)
  .clear

