%h3
  Welcome to the One Click Orgs page for
  = co.name + "."

%p
  Please look through the
  = link_to "Draft Constitution", constitution_path
  and see the options on the
  = link_to "Settings", settings_path
  page.
  = co.members.first.name
  can switch between these options.

%p
  Once everyone's happy with the Draft Constitution
  = co.members.first.name
  can call the Founding Vote to create the Association.