%h2 Set up this One Click Orgs installation

%h3 To host multiple organisations:

= form_tag(:action => 'create_domains') do
  %p
    = label_tag('base_domain', "Confirm or edit the base domain")
    = text_field_tag('base_domain', @base_domain)
  %p
    = label_tag('signup_domain', "Confirm or edit the sign-up domain")
    = text_field_tag('signup_domain', @signup_domain)
  %p= submit_tag("Save domains")

%h3 Or, to host a single organisation:

= form_tag(:action => 'set_single_organisation_mode') do
  %p= submit_tag("Run OCO in single organisation mode")
