= error_messages_for(form.object)
%p
  = form.label(:first_name)
  = form.text_field :first_name
%p
  = form.label(:last_name)
  = form.text_field :last_name
%p
  = form.label(:email, "Email address")
  = form.email_field :email
%p
  = form.submit "Send invitation", :id => 'submit'
