%h2 Enter minutes

%p
  A
  %strong= @board_meeting.class.name.underscore.humanize.titlecase
  on
  = (@board_meeting.happened_on ? @board_meeting.happened_on.strftime('%d %B %Y') : '') + ','
  starting at
  = (@board_meeting.start_time || '') + ','
  at
  = (@board_meeting.venue || '') + '.'

= form_for(@board_meeting) do |board_meeting_form|
  .section.participants
    %h3 Directors in attendance
    %ul.participants
      - @directors.each do |director|
        = content_tag_for(:li, director) do
          %p.checkbox
            = check_box_tag "board_meeting[participant_ids][#{director.id}]", '1', @board_meeting.participant_ids.include?(director.id), :class => :inline
            = label_tag "board_meeting_participant_ids_#{director.id}", director.name, :class => :inline

  %h3 Minutes
  %p
    = board_meeting_form.label :minutes, "Minutes"
    = board_meeting_form.text_area :minutes

  %p= board_meeting_form.submit "Save these minutes"
