!!!
%html
  %head
    %title
      = @page_title ? @page_title + " - " : ""
      = @current_organisation ? @current_organisation.name : "One Click Orgs"

    %link{:href=>"/favicon.ico", :rel=>"shortcut icon"}        
    = stylesheet_link_tag 'one_click'
    = javascript_include_tag 'jquery', 'rails', 'application'
    = csrf_meta_tag
  %body
    %div#container
      - if current_user
        - if current_organisation.pending? 
          %div#overlay.pending
            %p
              The Association is currently in a draft state. When there at least three
              = link_to 'Founding Members', members_path
              and they are happy with the
              = link_to 'Draft Constitution', constitution_path
              = co.members.first.name
              can call a Founding Vote to create the Association.
            - if current_user.has_permission(:found_organisation_proposal)
              = form_tag(:controller => 'proposals', :action => 'propose_foundation') do
                = submit_tag "Hold the Founding Vote", :id => 'submit'
              %br.clear
        - if current_organisation.proposed?
          %div#overlay.proposed
            %p
              This organisation has been proposed for foundation. 
              Founding members can now vote until the end of the voting period.
        - if current_organisation.failed?
          %div#overlay.failed
            %p
              This organisation is inactive: the founding vote did not pass.
      %div.control_bar
        - if current_user
          %p
            %strong
              = link_to current_user.name, member_path(current_user)
          %p
            = link_to 'Edit your account', edit_member_path(current_user)
          %p
            = link_to 'Logout', member_session_path, :method => :delete
      %div#doc
        %div#hd
          %h1.header
            = link_to(@current_organisation.name, root_path)
          %p
            powered by
            = link_to 'One Click Orgs', 'http://www.oneclickorgs.com/'
        - if current_user
          - if current_organisation.pending?
            %ul#nav
              %li#navitem= link_to 'Settings', settings_path
              %li#navitem= link_to 'Draft Constitution', constitution_path
              %li#navitem= link_to 'Members', members_path
          - elsif current_organisation.proposed?
            %ul#nav
              %li#navitem= link_to 'Dashboard', root_path
              %li#navitem= link_to 'Constitution', constitution_path
              %li#navitem= link_to 'Members', members_path
          - else
            %ul#nav
              %li#navitem= link_to 'Dashboard', root_path
              %li#navitem= link_to 'Settings', settings_path
              %li#navitem= link_to 'Constitution', constitution_path
              %li#navitem= link_to 'Members', members_path

        - if flash[:notice]
          %div#notice
            = flash[:notice]
        - if flash[:error]
          %div#error
            = flash[:error]
        
        %div#bd
          
          = yield
        %div.footer
          = link_to image_tag('oco-logo-24.png', :height => '24', :width => '24') + 'One Click Orgs', 'http://www.oneclickorgs.com/'
          = "#{OneClickOrgs.version}."
          Licensed under the
          %a{:href => 'http://www.gnu.org/licenses/agpl.html'} AGPL.
          %a{:href => 'http://github.com/oneclickorgs/one-click-orgs'} Source code.
      = get_satisfaction_widget
