!!!
%html
  %head
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %title
      = @page_title ? @page_title + " - " : ""
      = @current_organisation ? @current_organisation.name : "One Click Orgs"

    %link{:href=>"/favicon.ico", :rel=>"shortcut icon"}        
    = stylesheet_link_tag 'one_click'
    /[if lt IE 9]
      = stylesheet_link_tag 'ie'
    = javascript_include_tag :defaults
    = render :partial => 'shared/javascript_includes'
    = yield(:head)
    = csrf_meta_tag
    = google_analytics_code
  %body
    - if OneClickOrgs.prerelease?
      #prerelease_bar
        %p Please note: this is pre-release software. It has not been fully tested yet, and the design and guidance text is not yet complete.
    %div#container
      = render :partial => 'shared/container_start'
      = render(:partial => 'shared/control_bar')
      %div#doc
        %div#hd
          %h1.header
            = link_to(@current_organisation.name, root_path)
          %p
            powered by
            = link_to 'One Click Orgs', 'http://www.oneclickorgs.com/'
        = render :partial => 'shared/main_menu'
        - if flash[:notice]
          %div#notice
            = flash[:notice]
        - if flash[:error]
          %div#error
            = simple_format(flash[:error])
        
        %div#bd
          
          = yield
          
          #lightbox_screen{:style => 'display: none;'}
          #lightbox{:style => 'display: none;'}
            - if @notification
              - current_user.has_seen_notification!(@notification)
              .notification
                = render(:partial => "shared/notifications/#{@notification}")
                %p
                  %button#close_notification{'data-notification' => @notification} Close
            - else
              = yield(:lightbox)
          = render :partial => 'shared/lightboxes'
        %div.footer
          = render(:partial => 'shared/footer')
      = get_satisfaction_widget
