!!!
%html
  %head
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %title
      = @page_title ? @page_title + " - " : ""
      = @current_organisation ? @current_organisation.name : "One Click Orgs"

    %link{:href=>"/favicon.ico", :rel=>"shortcut icon"}        
    = stylesheet_link_tag 'one_click'
    /[if lt IE 9]
      = stylesheet_link_tag 'ie'
    = javascript_include_tag 'jquery', 'jquery.scrollTo', 'rails', 'application'
    - if current_user && current_organisation.pending? && current_user.has_permission(:found_organisation_proposal)
      - if @current_organisation.can_hold_founding_vote?
        = javascript_include_tag 'start_founding_vote_confirmation'
      - else
        = javascript_include_tag 'start_founding_vote_alert'
    = yield(:head)
    = csrf_meta_tag
    = google_analytics_code
  %body
    %div#container
      - if current_user
        - if current_organisation.pending? 
          %div#overlay.pending
            %p
              To form an Association there must be a founding vote where at least
              three founding members vote in support. For now only
              - if current_user == co.members.first
                = 'you'
              - else
                = co.members.first.name + ' (the first founding member)'
              can amend the constitution or call a founding vote. When the Association
              is formed all members gain equal voting rights.
            - if current_user.has_permission(:found_organisation_proposal)
              = form_tag({:controller => 'proposals', :action => 'propose_foundation'}, :id => 'start_founding_vote_form') do
                = submit_tag "Hold the Founding Vote", :id => 'submit'
              %br.clear
        - elsif current_organisation.proposed?
          %div#overlay.proposed
            %h3
              Founding vote in progress. Voting ends
              = co.found_organisation_proposals.last.close_date.to_s(:at_on) + '.'
            - if co.found_organisation_proposals.last.vote_by(current_user)
              %p Progress of the vote is displayed on Members page.
            - else
              %p Proposal: Form an Association according to the constitution currently stored on the One Click Orgs system. Those who vote "Support" will become its first members.
              - if current_user.can_vote?(co.found_organisation_proposals.last)
                = form_tag(vote_against_path(:id => co.found_organisation_proposals.last.id, :return_to => request.url)) do
                  = submit_tag "Oppose"
                = form_tag(vote_for_path(:id => co.found_organisation_proposals.last.id, :return_to => request.url)) do
                  = submit_tag "Support"
                %br.clear

      %div.control_bar
        - if current_user
          %p
            %strong
              = link_to current_user.name, member_path(current_user)
          %p
            = link_to 'Edit your account', edit_member_path(current_user)
          %p
            = link_to 'Logout', '/logout'
      %div#doc
        %div#hd
          %h1.header
            = link_to(@current_organisation.name, root_path)
          %p
            powered by
            = link_to 'One Click Orgs', 'http://www.oneclickorgs.com/'
        - if current_user
          - if current_organisation.pending? or current_organisation.proposed?
            %ul#nav
              %li#navitem= link_to 'Constitution', constitution_path
              %li#navitem= link_to 'Amendments', amendments_path
              %li#navitem= link_to 'Members', members_path
          - else
            %ul#nav
              %li#navitem= link_to 'Voting & proposals', root_path
              %li#navitem= link_to 'Constitution', constitution_path
              %li#navitem= link_to 'Members', members_path

        - if flash[:notice]
          %div#notice
            = flash[:notice]
        - if flash[:error]
          %div#error
            = simple_format(flash[:error])
        
        %div#bd
          
          = yield
          
          #lightbox_screen{:style => 'display: none;'}
          #lightbox{:style => 'display: none;'}
            - if @notification
              - current_user.has_seen_notification!(@notification)
              .notification
                = render(:partial => "shared/notifications/#{@notification}")
                %p
                  %button#close_notification{'data-notification' => @notification} Close
            - else
              = yield(:lightbox)
          - if current_user && current_organisation.pending? && current_user.has_permission(:found_organisation_proposal)
            - if @current_organisation.can_hold_founding_vote?
              #start_founding_vote_confirmation_lightbox.lightbox{:style => 'display: none;'}
                = render(:partial => "shared/start_founding_vote_confirmation")
            - else
              #start_founding_vote_alert_lightbox.lightbox{:style => 'display: none;'}
                = render(:partial => "shared/start_founding_vote_alert")
        %div.footer
          = link_to image_tag('oco-logo-24.png', :height => '24', :width => '24', :alt => 'One Click Orgs logo') + 'One Click Orgs', 'http://www.oneclickorgs.com/'
          = "#{OneClickOrgs.version}."
          %a{:href => 'http://www.oneclickorgs.com/faq/'} Frequently asked questions.
          Licensed under the
          %a{:href => 'http://www.gnu.org/licenses/agpl.html'} AGPL.
          %a{:href => 'http://github.com/oneclickorgs/one-click-orgs'} Source code.
      = get_satisfaction_widget
